.newsletter {
  height: 44vh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  margin-bottom: 30px;
}

.form {
  padding: 10px;
  margin-top: 10px;
}

.desc {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.input {
  border: none;
  padding-left: 20px;
  font-size: 20px;
  margin-left: 15px;
}

.btn {
  color: white;
  background-color: teal;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 15rem;
}

@media (max-width: 400px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
