.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: lightgray;
}

.navImg {
  width: 250px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.navCentre {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.nav-icon {
  font-size: 20px;
  margin: 10px 10px;
}

.navRight {
  cursor: pointer;
  margin-left: 20px;
  font-size: 20px;
}
span {
  margin-left: 10px;
}

.icon {
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logout {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.Basket {
  position: static;
  overflow-y: scroll;
  max-height: 600px;
}

.BasketItems {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

/* .popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
} */

.totalPrice {
  padding: 10px;
  font-weight: 500;
}

.img-basket {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding-bottom: 5px;
}

.icon-basket {
  color: red;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.basket-length {
  position: relative;
  font-size: 15px;
  bottom: 20px;
  right: 10px;
  color: white;
  font-weight: 500;
  padding: 5px;
  margin: 5px;
  background-color: red;
  border-radius: 50%;
}
