.products {
  display: flex;
  flex-wrap: wrap;
  width: 33.33333;
  justify-content: center;
}

.products-wrapper {
  display: flex;
  margin: 20px;
  padding: 20px;
}

@media (max-width: 400px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 10px;
    padding: 10px; */
  }

  .products-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 80px;
  }
  span {
    font-size: 20px;
  }
}
